@model ManagingTextResourcesApp.Models.TextResource
@Styles.Render("~/Content/createEdit_MyStyle.css")

@{
    ViewBag.Title = "Edit";
}

<h1>Edytuj zasób</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="text">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", required = true } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="text">
        <div class="textarea-style">
            @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", onkeyup = "charCount();" }, required = true })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
    </div>
    <nav>
        <input type="submit" value="Zapisz" />
        @if (ViewBag.uId > 0)
        {
            @Ajax.ActionLink("Usuń", "Delete", new { uId = ViewBag.uId, id = Model.Id }, new AjaxOptions()
               {
                   HttpMethod = "Delete",
                   Confirm = "Czy jesteś pewien, że chcesz usunąć ten zasób?",
                   UpdateTargetId = Model.Id.ToString()
               })
        }
    </nav>
    <div class="back">
        @Html.ActionLink("Wróć do zasobu", "Details", new { uId = ViewBag.uId, Model.Id })
    </div>
    if (ViewBag.errorMsg != null)
    {
        <div class="error">
            @ViewBag.errorMsg
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
